.btn {
  font-size: 0.875em; // 14px
  font-weight: 700;
  //line-height: 150%;

  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  min-width: 7.375em; //118px
  min-height: 45px; // 45px 2.813em
  padding: 0.875em 0; // 14px

  color: $btn-color;
  border-radius: 0;
  border-width: 0;
  background: $main-color;
  outline: none;
  cursor: pointer;
  position: relative;
  &:hover {
    background: $hover-color;
  }
  &:active {
    opacity: 0.9;
  }
  &:disabled {
    background: $disable-color;
  }
}
