.card {
  width: 17.5em; // 280px
  border: 0.063em solid $border-color; // 1px
  box-sizing: border-box;
  position: relative;

  &.card-null {
    opacity: .5;
  }
}
.card__head {
  font-size: 1.125em; // 18px
  line-height: 150%;
  padding: 1.25em 2.25em 1.375em 1.5em; // 20px 36px 20px 24px
  height: 3.375em; // 54px
}
.card__bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5em; // 24px
  padding-top: 0;
}
.card__sale {
  color: $light-grey-color;
  text-decoration: line-through;
  font-weight: 300;
}
.card__price {
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__basket {
  display: flex;
  align-items: center;
}
.card__bottom-null {
  min-height: 2.813em; // 45px
  display: flex;
  align-items: center;
}
