@import "./variables";

@import "./components/btn";
@import "./components/search";
@import "./components/menu";
@import "./components/card";
@import "./components/loader";

body {
  font-family: $font-family, $font-family-2, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  background: $body-color;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 1200px; // 1200px
  margin: auto;
}

.container-main {
  align-items: baseline;
}

.header {
  display: flex;
  align-items: center;

  height: 6em; // 96px
  border-bottom: 0.063em solid $border-color;
}

.main {
  width: 75em; // 1200px
  margin: auto;
  margin-top: 2.813em; // 45px
}

.footer {
  display: flex;
  align-items: center;

  font-size: 0.875em; // 14px
  color: $footer-color;

  height: 6em; // 96px
  background: $grey-color;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer__link {
  display: flex;
  text-decoration: none;
  font-size: 0.875em; // 14px
  color: $footer-color;
  & img {
    padding-right: 0.625em; // 10px
  }
}